
body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
  background-color: black;
 }

 a:link {
  text-decoration: none;
 }

 .flex-container {
  display: flex;
  flex-wrap: nowrap;
  /* align-items: stretch; */
}

.flex-container > div {
  text-align: center;
}

/* ---------------------------Animations---------------------------- */

@keyframes fadeInAnimation {
  0% {opacity: 0;
  } 100% {
    opacity: 1; }
} .heading-text, .skills-box, .home-btns, #projects, #contact {
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
         } .heading-text{
            animation: fadeInAnimation ease 3s;
            /* animation-delay: 17s; */
            } .skills-box{
              animation: fadeInAnimation ease 5s;
              } .home-btns{
                animation: fadeInAnimation ease 7s;
                }.pic-box {
                  animation: fadeInAnimation ease 1s;
                }#projects{
                   animation: fadeInAnimation ease 8s;
                  } #contact {
                    animation: fadeInAnimation ease 10s;}

@keyframes profileMoveAnimation {
  0% {right: 0rem;
  }100% {
    right: 2rem;
  }
} .pic-sm-box {
    animation: profileMoveAnimation ease 2s;
    animation-fill-mode: both;
}

.page-nav-btns{
  top: 0;
  transition: top ease 0.5s;
}.page-nav-btns:hover {
  top: -4px;
  }

.hide {
  display: none;
}

/* ------------------------Buttons----------------------------- */

button:hover {
  background-color: rgb(237, 220, 255);
  cursor: pointer;
} .project-code:hover, .send:hover {
  color: rgb(161, 129, 190);
} 

.home-btns {
  margin-top: 1.2rem;
  min-height: 0;
  /* min height to fix overflow on mobile */
}

.page-nav-btns {
  width: 15rem;
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
  margin: 2rem;
  background-color: rgba(63, 56, 76, 0.8) ;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  color: rgb(202, 177, 226);
  position: relative;

 }

 .project-code {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f1f1f1;
  float: left;
  background-color: rgb(59, 40, 77);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-family: 'Source Code Pro', monospace;
}

.send {
  font-size: 1rem;
  font-weight: bold;
  color: #f1f1f1;  
  background-color:  rgba(63, 56, 76, 0.8) ;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 3rem;
  font-family: 'Source Code Pro', monospace;
} 

/* -------------------------------------------------------------------- */
#home {
    color: white;
    padding: 1rem 5rem;
  }

  .home-bits-text {
    flex: 1 1 40%;
    padding-left: 1em;
    min-width:0;
  }

  .heading {
    font-size: 3.2rem;
    font-weight: normal;
    text-align: left;
    width: 90%;
    min-width:0;
    font-family: 'Source Code Pro', monospace;
    color:rgba(203, 173, 252, 0.8);
  
  }
  
  .heading-text {
    font-size: 1.3rem;
    font-weight: lighter;
    text-align: left;
    width: 90%;
  }

  .pic-box {
    flex: 1 1 35%;
    flex-wrap: wrap;
    min-width: 0;
    padding-top: 1rem;
    
  }
  .pic-sm-box {
    height: 10rem;
    position: relative;
    margin: auto;
  }

  .profile-pic {
   border-radius: 50%;
    width: 8rem;
   box-shadow: 0rem 0rem 2rem 0.6rem rgba(134, 104, 182, 0.8);
   -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
   filter: grayscale(20%);
}

.skills-row {
  text-align: center;
  display: flex;
  flex-wrap:wrap;
  min-height: 0;
  /* min height to fix overflow on mobile */
} 

.skills {
  flex: 1 1 10%;
  margin: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  color: white;
  font-weight: normal;
  border-width: 0.1rem;
  border-style:solid;
}

.html{color:  rgba(255, 0, 0, 0.452);}
.css {color: rgba(69, 69, 202, 0.699); }
.js {color: rgb(216, 216, 0);}
.ejs { color: rgba(177, 26, 26, 0.795);}
.node {color: rgba(32, 109, 32, 0.733);} 
.xps {color: rgb(3, 189, 3);} 
.git {color: rgb(255, 82, 82);}
.github {color: white;}
.api {color: rgb(104, 157, 255);}
.pg {color: #37B7C3};


#projects {
  margin-bottom: 2rem;
}

.projects-section-title{
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  font-family: 'Source Code Pro', monospace;
  color: rgba(203, 173, 252, 0.8);
  width: 100%;
  text-align: center;
 }

 .project-box {
  margin: 5rem;
  /* background-color: #ffff; */
  border-style: solid;
  border-color: rgba(203, 173, 252, 0.8);
  padding: 1rem;
  border-radius: 1rem;
 display: flex;
 margin-bottom: 6rem;
  /* box-shadow: 0.5rem 0.5rem 3rem grey; */
 }

 .project-pic-box{
  width: 50%;
 }

 .project-txt-box {
  width: 50%;
  padding: 1.5rem;
 }

 .project-subheading{
  font-size: 2rem;
  color: #ffff;
  text-align: left;
  font-weight: bold;
 } 

 .project-description {
  font-size: 1.5rem;
  color: #ffff;
  text-align: left;
 }

.project-img {
  width: 100%;
  border-radius: 1rem;
}

#contact {
  padding: 1rem 0 2rem;
}

.contact-section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  font-family: 'Source Code Pro', monospace;
  color: rgba(203, 173, 252, 0.8); 
}

form {
  width: 50%;
  min-height: 0;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: rgba(203, 173, 252, 0.8);
  border-radius: 1rem;
  margin: auto;
}

label {
  text-align: left;
  font-size: 1rem;
  width: 85%;
  color: #ffff;
  margin:  0 auto 0.5rem;
}
::placeholder {
  color: rgb(145, 125, 163);
}

input:focus, textarea:focus{
  outline: none;
}

input, textarea{
  border-radius: 0.3rem;
  background-color: rgb(206, 185, 223);
  border: none; 
  width: 80%;
  padding: 0.7rem;
  font-size: 1rem;
  margin: 0 auto 2rem;
  font-family: 'Roboto', sans-serif;
}

textarea {
  height: 12rem ;
  resize: none;
  /*remove resize in the corner*/
} 

.sendBtnLink {
  width: 80%;
  margin: auto;
  text-align: left;
}


#footer{
  background-color: rgb(59, 40, 77);
  color: #f1f1f1;
  padding: 0 1rem;
  
}

.footer-text {
  font-size: 1rem;
  text-align: left;
  font-weight: lighter;
}

.icons {
  margin-left: 1rem;
} .back-to-top {
  float: right;
  margin: 0.5rem 1rem 0 0;
}

/* --------------------Device specs------------------------ */
@media only screen and (max-width: 900px) {
  .flex-container {
    flex-direction: column;
  } .home-bits-text {
    padding-left: 0;
  }.heading {
      font-size: 2.2rem;
    } .pic-sm-box {
      animation: fadeInAnimation;
      }  .pic-box {
      padding-top: 0;
  } .skills {
    flex: 1 1 20%;
  } .project-subheading, .project-description {
    float: none;
  } ::placeholder {
    font-size: 1rem;
  } #footer {
    min-height: 0;
    line-height: 2rem;
    text-align: center;
  }.footer-text {
    width:80%;
  }.back-to-top {
    margin: 1rem 0 1rem;
    /* float: none; */
  }.project-box {
    margin: 1.3rem;
    flex-direction: column;
  }.project-pic-box, .project-txt-box{
    width: 100%;
    padding: 0rem;
  }form {
    width: 90%;
    }.project-description {
      font-size: 1rem; 
    }  .project-subheading{
       font-size: 1.5rem;
    }.project-img {
      float: none;}
  }
